body {
    margin: 0;
    padding: 0;

    font-size: 15px;
    color: #212121;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box; /* Ширина блока с полями */
}

h1, h2, h3, h4, h5, h6 { margin: 0;}
a {text-decoration: none; margin: 0;}
   

/*========<' container '>========*/  

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
} 

/*========<' Preview '>========*/ 

.preview {
    width: 100%;
    max-width: 630px;
    text-align: center;
    margin: 0 auto 125px;
}

.preview__title {
    font-size: 2rem;
    margin-bottom: 35px;
}
.preview__text {font-size: 1rem;}

/*========<' header '>========*/  

.header {
    width: 100%;
    padding: 45px 0;
    background-color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 1.666rem;
    font-weight: bold;
}

.nav__link {
    margin-right: 15px;
    font-size: 1.333rem;

    color: #212121;
}

/*========<' intro '>========*/  

.intro {
    padding: 170px 0;
    margin: 0 auto;
    width: 100%;
    height: 70vh;
 
    background-image: url('./img/intro-bg.png');
    background-size: cover;
}

.intro__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: #fff;
}

.intro__title {
    font-size: 4rem;
    margin-bottom: 50px;
}

.intro__subTitle {
    font-size: 1.466rem;
    margin-bottom: 120px;
}

.intro__btns {
    display: flex; 
    flex-wrap: wrap;
    margin: 0 auto;
}

.btn {
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 22px 40px;
    text-transform: uppercase;
    color: #fff;

    transition: background .2s linear,
    border .2s linear;
}

.intro .btn:first-child { margin-right: 20px;}
   
.intro .btn:hover { background: #00897b; border: 0;}
     
/*========<' About Us '>========*/  
.aboutUs {
    width: 100%;
    padding: 125px 0;
}
.aboutUs__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.aboutUs__item {
    width: 100%;
    max-width: 260px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.aboutUs__photo {
    width: 60px;
    height: 60px;
    margin: 0 auto 25px; 
}

.aboutUs__title {
    font-size: 1.333rem;
    margin-bottom: 15px;
}

/*========<' services '>========*/ 

.services {
    width: 100%;
    padding: 125px 0;
    background-color: #e4fdf9;
}

.services__inner {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 100%;
    max-width: 370px;
    padding: 50px;

    margin: 10px;
    text-align: center;
    background: #fff;
    transition: color .2s linear, background .2s linear;
}
.services__item:hover {
    color: #fff;
    background: #00897b;
}
.services__item:hover .btn {
    border: 2px solid #fff;
}
.services__photo {
    position: relative;
    left: 10px;
}
.services__title {margin: 20px 0;}
    
.services__text {margin-bottom: 55px;}

.services__item .btn {padding: 11px 22px; color: inherit; border: 2px solid #212121;}
    
