body {
    margin: 0;
    padding: 0;

    font-size: 15px;
    color: #212121;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box; /* Ширина блока с полями */
}

h1, h2, h3, h4, h5, h6 { margin: 0;}
a {text-decoration: none; margin: 0;}
   

/*========<' container '>========*/  

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
} 

/*========<' Preview '>========*/ 

.preview {
    width: 100%;
    max-width: 630px;
    text-align: center;
    margin: 0 auto 125px;
}

.preview__title {
    font-size: 2rem;
    margin-bottom: 35px;
}
.preview__text {font-size: 1rem;}

/*========<' header '>========*/  

.header {
    width: 100%;
    padding: 45px 0;
    background-color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 1.666rem;
    font-weight: bold;
}

.nav__link {
    margin-right: 15px;
    font-size: 1.333rem;

    color: #212121;
}

/*========<' intro '>========*/  

.intro {
    padding: 170px 0;
    margin: 0 auto;
    width: 100%;
    height: 70vh;
 
    background-image: url('./img/intro-bg.png');
    background-size: cover;
}

.intro__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: #fff;
}

.intro__title {
    font-size: 4rem;
    margin-bottom: 50px;
}

.intro__subTitle {
    font-size: 1.466rem;
    margin-bottom: 120px;
}

.intro__btns {
    display: flex; 
    flex-wrap: wrap;
    margin: 0 auto;
}

.btn {
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 22px 40px;
    text-transform: uppercase;
    color: #fff;

    transition: background .2s linear,
    border .2s linear;
}

.intro .btn:first-child { margin-right: 20px;}
   
.intro .btn:hover { background: #00897b; border: 0;}
     
/*========<' About Us '>========*/  
.aboutUs {
    width: 100%;
    padding: 125px 0;
}
.aboutUs__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.aboutUs__item {
    width: 100%;
    max-width: 260px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.aboutUs__photo {
    width: 60px;
    height: 60px;
    margin: 0 auto 25px; 
}

.aboutUs__title {
    font-size: 1.333rem;
    margin-bottom: 15px;
}

/*========<' services '>========*/ 

.services {
    width: 100%;
    padding: 125px 0 50px;
    background-color: #e4fdf9;
}

.services__inner {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 100%;
    max-width: 370px;
    padding: 50px;

    margin: 10px;
    text-align: center;
    background: #fff;
    transition: color .2s linear, background .2s linear;
}
.services__item:hover {
    color: #fff;
    background: #00897b;
}
.services__item:hover .btn {
    border: 2px solid #fff;
}
.services__photo {
    position: relative;
    left: 10px;
}
.services__title {margin: 20px 0;}
    
.services__text {margin-bottom: 55px;}

.services__item .btn {padding: 11px 22px; color: inherit; border: 2px solid #212121;}
  
/*========<' works '>========*/ 

.works {
    margin-top: 125px;
}

.works__btns {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.works__btns .btn {
    margin: -50px 10px 115px;
    border: 2px solid #00897b;
    color: #212121; 
    padding: 11px 22px;

    transition: background .2s linear, color .2s linear;
}

.works__btns .btn:hover {
    border: 0;
    background: #00897b;
    color: #fff;
}

.works__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.works__item {
    width: 100%;
    max-width: 365px;
    height: 350px;
    margin: 10px;
    position: relative;
    border-bottom: 2px solid #fff;
    overflow: hidden;/*Убираем всё что вылазит за предел нашего блока*/  
}

.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(73, 73, 73, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.2s linear;
}
.works__item:hover .works__content {
    opacity: 1;
}
.works__title {
    color: #fff;
    font-size: 1.666rem;
    margin-bottom: 10px;
}

.works__text {color: #fff;}
    
.works__btn .btn {
    border: 2px solid #212121;
    color: #212121;
    padding: 15px 40px;

    transition: background .2s linear, color .2s linear;
}
.works__btn .btn:hover {
    border: 0;
    background-color: #00897b;
    color: #fff;
}
.works__btn {margin: 125px auto; text-align: center;}
 
/*========<' price pla '>========*/ 

.price__plan {
    width: 100%;

    padding: 125px 0;
    background-color: #f0f1f1;
}

.price__inner {
    width: 100%;
    justify-content: center;

    display: flex;
    flex-wrap: wrap;
}

.price__item {
    width: 100%;
    max-width: 360px;
    margin: 15px;
    text-align: center;
    background: #fff;

    transition: box-shadow .2s linear;
}

.price__item:hover {
    box-shadow: 20px 20px 20px rgba(0,0,0,.5); /* Параметры тени */
}

.price__header {
    padding: 50px;
    background: #3949ab;
    margin-bottom: 60px;
    color: #fff;
}

.price__title {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.price__subtitle .price {font-size: 2rem;}
    
.price__services {margin-bottom: 75px;}
    
.price__service {
    font-size: 1.133rem;
    color: #3b3b3b;
}

.price__service::after {
    content: '';
    display: block;
    height: 2px;
    width: 150px;
    margin: 5px auto 20px;

    background: #3b3b3b;
}

.price__item .btn {
    position: relative;
    top: 25px;
    border: 2px solid #212121;
    color: #212121;
    padding: 10px 40px;
}
.price__item .btn:hover {
    border: 2px solid #fff;
    background-color: #00897b;
    color: #fff;
}

/*========<' Team '>========*/

.team {
    padding: 125px 0;
}
.team__inner {
    display: flex;
    flex-wrap: wrap;
}
.team__item {
    width: 100%;
    max-width: 360px;
    margin: 0 15px;
    text-align: center;
}

.member__name {
    margin: 10px 0;
    font-size: 1.333rem;
}
.member__work{margin-bottom: 10px;}
.icons__inner {
    display: flex;
    width: 100%;
    justify-content: center;
}

.team__icons {
    width: 40px;
    height: 40px;
    display: block;
    margin: 10px;
    padding: 5px;
    background-color: #f0f1f1;
    border-radius: 5px;
    fill: #00897b;

    transition: background .2s linear,
                fill .2s linear;
}
.team__icons:hover {
    background-color: #3949ab;
    fill: #fff;
}
    

.team__slider {
    display: flex;
    margin: 80px auto 0;
    justify-content: center;
}

.btn-slider {
    border-radius: 100%;
    background-color: #00897b;
    width: 15px;
    height: 15px;
    border: 0;
    margin: 0 3px;

    transition: background .2s linear;
}

.btn-slider.active {
    background: #3949ab;
} 